.page {
  width: 100%;
  height: 100%;
  display: none;
  text-align: center; }
  .page.active {
    display: block; }

#login-page h2 {
  text-align: center;
  margin: 0; 
  margin-top:10px;}	}

#login-page .login-input {
  display: block;
  margin: 0 auto; }

#map-page h3 {
  margin: 0; }

#map {
  background: grey;
  width: 100%;
  height: 400px; }

@media (max-width: 600px) {
  .login-input {
    width: 80%; }
    .login-input input {
      font-size: 36px; }
    .login-input label {
      font-size: 25px; }
  h2 {
    font-size: 66px; }
  .mdl-button {
    height: 60px;
    font-size: 50px;
    line-height: 60px; } }
